.produtos{
  h1{
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    h2{
      color: #403d39;;
    }
  }
  h2, strong, div{
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
  }
  .produtos-stars{
    color: #ffb703;
    margin-top: 0px;
  }
}

.roupas-populares{
  margin-bottom: 40px;
  .produtos-itens {
    img{
      width: 250px;
    }

    .salopete-rosa {
      img{
        width: 255px;
      }
    }

    .camiseta-listrada {
      img{
        width: 245px;
      }
    }

    .vestido-xadrez, .casaco-marrom {
      img {
        width: 253px;
      };
    }
  }
}

 body {
  background: #fefae0;
 }

 .btn-saiba-mais {
  background: none;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 490px;
 }